@using Microsoft.Extensions.Options;
@model IEnumerable<WA_TravelAgency_v1.Models.DomainModels.Reservation>
@inject IOptions<WA_TravelAgency_v1.Models.DomainModels.StripeSettings> Stripe

@{
    ViewData["Title"] = "MyReservations";
}

<h1>My Reservations</h1>


<div class="row">
    <div class="col-3">
        <div class="mt-2">
            <a asp-action="Create" class="btn btn-success ml-5" style="background-color:#9cc69b; color:black">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>   Create new Reservation
            </a>
        </div>

    </div>

</div>




<br />
<br />

<table class="table  table-striped table-hover table-responsive ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfGratis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfGratis)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                    </ul>
                </div>
            </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-action="CreateInvoice" asp-route-id="@item.Id">Create Invoice</a>
                </td>
                <td>
                    @if (item.Paid.ToString() == "No")
                    {
                        <form asp-controller="Reservation" asp-action="PayOrder" asp-route-id="@item.Id" method="post">
                            <article>
                                <script src="https://checkout.stripe.com/checkout.js"
                                        class="stripe-button"
                                        data-key=@Stripe.Value.PublishableKey
                                        data-locale="auto"
                                        data-description="Payment"
                                        data-amount="@(item.AmountToPay * 100)"
                                        data-label="Pay $@item.AmountToPay">
                                </script>
                            </article>
                        </form>
                    }
                    else
                    {
                        <br />
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-wallet" viewBox="0 0 16 16">
                            <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z" />
                        </svg>

                        <p><b>PAID</b></p>
                    }
            </td>
        </tr>
}
    </tbody>
</table>






