@model IEnumerable<WA_TravelAgency_v1.Models.DomainModels.OfferParameters>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.МinNumOfPassengersForSureRealization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.МinNumOfPassForGratis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.МinNumOfPassengersForSureRealization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.МinNumOfPassForGratis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
