@model IEnumerable<WA_TravelAgency_v1.Models.DomainModels.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Offers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="MakeAReservation" asp-controller="Offer" class="btn d-inline mr-2" style="background-color: fuchsia;">
        Set vouchers
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="MakeAReservation" asp-route-id="@item.Id" class="btn d-inline mr-2" style="background-color: #e05260;">
                         Reserve
                    </a>

            </td>

        </tr>
}
    </tbody>
</table>


  